# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
.venv/
venv/

# --- Jupyter ---
.ipynb_checkpoints/

# --- macOS / IDE ---
.DS_Store
.vscode/
.idea/

# --- Secrets ---
.env
*.env

# --- Data (если локально сохранил данные) ---
data/
*.csv
*.parquet
*.xlsx

# --- Logs ---
*.log
